{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}

<table class="table">
        <thead >
            <tr >
                <th >Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody >
            {% for stock in history   %}

            <tr >
                    <td>{{ stock.symbol|upper}}</td>
                    <td>{{stock.quantity}}</td>
                    <td>{{stock.price|usd}}</td>
                    <td> {{stock.date_time}}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}