{% extends "layout.html" %}


{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<h1> WELCOME {{user[0]["username"]}} </h1>
       <table>
           <thead>
               <tr>
                   <th>Symbol</td>
                   <th>Name</td>
                   <th>Shares</td>
                   <th>Price</td>
                   <th>Total</th>
               </tr>
               <tfoot>
                   <tr>
                       <td  colspan="4"></td>

                           <td>{{(maha_total+user[0]["cash"])|usd}}</td>

                   </tr>
               </tfoot>
               <tbody>
                {% for share in shares %}
                    <tr>
                        <td>{{share.symbol}}</td>
                        <td>{{share.stock_name}}</td>
                        <td>{{share.quantity}}</td>
                        <td>{{share.price|usd}}</td>
                        <td>{{share.total|usd}}</td>
                     </tr>

                {% endfor %}
                <tr>
                    <td colspan="4">CASH</td>
                     <td> {{user[0]["cash"]|usd}}</td>
                </tr>
               </tbody>
           </thead>
       </table>


{% endblock %}

