{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}

<form action="/sell" method="post">
        <div class="form-group" >
            <select name="symbol" class="form-control">
                <option disabled selected value="">stocks</option>
                {% for option in stocks_symbol %}

                    <option value="{{option.symbol}}">{{option.symbol|upper}}</option>

                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Amount of shares " min="0" type="number">
        </div>
        <button class="btn btn-primary" type="submit">SELL Stocks</button>
    </form>

{% endblock %}
